#content {
    background-image: "http://oi64.tinypic.com/16hj1fn.jpg";
}

.img:hover {
    
}

p {
    font-size: 14px;
    font-family:arial;
}



.content {
    width: 90%;
    height: 100%;
    overflow: scroll;
}