
body { 
    background-color: white;
} 

.title {
    color: black;
    margin-top: 0%;
    margin-left:0%;
    margin-right:0%;
    width: 100%;
    line-height: 100px;
    height: 10%;
    font-size: 60px;
    font-family: lobster;
    text-align: center;
}

.title:hover {
    color: black;
}

.menu{
    float: left;
    margin-top: 10%;
    margin-left: 5%;
    width: 15%;
    height: 80%;
    position: fixed; 
    text-align: right;
    text-decoration: none;
    padding: 10px;
}

.content{ 
    float: right;
    margin-top: 0%;
    margin-left: 28%;
    margin-right: 10%;
    font-size: 12px;
    position: absolute; 
    width: 50%;
    height: 90%;
    text-align: left;
    text-decoration: none;
    padding: 5px;
    
}

img {
    display: block;
    padding: 2px;
}

a:link {
    display: block;
    color:black;
    font-style:none;
    text-decoration: none;
    font-family: arial;
    font-size: 20px;
}

a:visited {
    color:black;
    font-style:none;
    text-decoration: none;
}

a:hover {
    color: pink;
    font-style: italic;
    text-decoration: none;
}


